{% extends "layout.html" %}
{% block body %}




<div style="font-family: 'Ubuntu', sans-serif;">
    <div class="sidenav">
        <h5 style="padding-bottom: 20px;">Recent Posts</h5>
        {% for post in posts[:-5:-1] %}
        <a href="/getblog/{{post.sno}}">{{post.title}}</a>
        {% endfor %}
    </div>
    
    <div class="main" style="animation: animateleft 2s;">
        <div class="card mb-3" style=" background-color: #f8f9fa;border:10px solid #e7e7e7; border-radius: 10px;">

            <h2 class="card-title " style="padding: 5px;padding-left: 10px;font-family: system-ui;">{{post.title}}</h2>

            {% set img = post.img_file %}
            <img src={{url_for('static',filename=img)}} class="card-img-top" width="100%" height="400px" alt="...">
            <div class="card-body">

                <center>
                    <h4 class="card-title ">{{post.tagline}}</h4>
                </center>
                <p class="card-text" style="font-size: 20px;">{{post.content}} 
                </p>
                <p class="card-text"><small class="text-muted">Author: {{post.author}}</small></p>
            </div>
        </div>
    </div>
  
</div>



<div class="container" >
    <h4 style="margin-left: 30px; margin-top: 20px;margin-bottom: 20px;">Comments</h4>
    {% for c in comm %}
    <p style="margin-left: 30px;background-color: #e7e7e7;">
        <b>{{c.name}}</b> posted on {{c.date}}
        <p style="margin-left: 60px;">{{c.message}}</p>
    </p>
    <hr style="margin-left: 30px;">
    {% endfor %}
</div>

<div class="container">
    <h4 style="margin-left: 30px;">leave a comment!</h4>
    <form action="/comment/{{post.sno}}" method="POST" style="padding:30px 100px; padding-left: 35px;">

        <label for="name">Name</label>
        <input type="text" id="name" name="uname" placeholder="Your name.." required>

        <label for="email">Email</label>
        <input type="email" id="email" name="email" placeholder="Your email.." required>

      

        <label for="message">Message</label>
        <textarea id="subject" name="message" placeholder="Write something.." style="height:100px" required></textarea>

        <button type="submit" class="btn btn-secondary" id="sendMessageButton">post comment</button>

    </form>
</div>
{% endblock %}